[submodule "cpqpro/cpqpro.github.io"]
	path = cpqpro/cpqpro.github.io
	url = https://github.com/cpqpro/cpqpro.github.io.git
[submodule "designreborn/designreborn.github.io"]
	path = designreborn/designreborn.github.io
	url = https://github.com/designreborn/designreborn.github.io.git
[submodule "moonadesign/focalconsulting.co"]
	path = moonadesign/focalconsulting.co
	url = https://github.com/moonadesign/focalconsulting.co.git
[submodule "mattborn/hundred-vanilla"]
	path = mattborn/hundred-vanilla
	url = https://github.com/mattborn/hundred-vanilla.git
[submodule "mattborn/mattborn.github.io"]
	path = mattborn/mattborn.github.io
	url = https://github.com/mattborn/mattborn.github.io-2023.git
[submodule "mattmeg/mattmeg.github.io"]
	path = mattmeg/mattmeg.github.io
	url = https://github.com/mattmeg/mattmeg.github.io.git
[submodule "migmatt/migmatt.github.io"]
	path = migmatt/migmatt.github.io
	url = https://github.com/migmatt/migmatt.github.io.git
[submodule "moonadesign/moonadesign.github.io"]
	path = moonadesign/moonadesign.github.io
	url = https://github.com/moonadesign/moonadesign.github.io.git
[submodule "palmvader/palmvader.github.io"]
	path = palmvader/palmvader.github.io
	url = https://github.com/palmvader/palmvader.github.io.git
[submodule "mattborn/websuite-march-2025"]
	path = mattborn/websuite-march-2025
	url = https://github.com/mattborn/websuite-march-2025.git
